html,body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

th{
    color: white;
    border: 1px solid rgb(150,190,190);
    padding: ;
}

thead{
    background-color: cadetblue;
}

header{
    background-color: cadetblue;
    padding: 0 20px;
    color: lightgoldenrodyellow;
}

#display, #get-input{
    padding: 20px;
}

#get-input{
    background: azure;
}

div{
    margin-bottom: 12px;
}

label{
    display: inline-block;
    width: 130px;
    text-align: right;
}

.elm-input{
    width: 250px;
    background-color: beige;
    box-shadow: 3px 3px 3px lightgreen;
}

button{
    margin-top: 10px;
    background-color: cadetblue;
    color: lightgoldenrodyellow;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 3px 3px 3px darkturquoise;
}

button:hover{
    background-color: white;
    color:black;
    border: 2px solid darkgoldenrod;
    font-weight: bold;
}